.categoriesSearch {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	a {
		text-decoration: none;
		margin: 15px;
		color: var(--primaryColor);
	}
}
