.card {
	max-width: 400px;
	height: 500px; /* Your height here */
	overflow: hidden;
	display: block;
	.card-image {
		height: 60%;
		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}
