:root {
	--primaryColor: #98583c;
	--secondaryColor: #cf8970;
	--buttonColor: #543c2c;
}
@import "./materialize-src/sass/materialize.scss";

body {
	background-color: #f8f2da;
}

$link-color: #cf8970;
.bg {
	background-color: #f8f2da;
}

.bg-primary {
	background-color: #98583c;
}

.bg-secondary {
	background-color: #cf8970;
}

.bg-button::hover {
	background-color: #543c2c;
}

.text {
	color: #f8f2da;
}

.text-primary {
	color: #98583c;
}

.text-secondary {
	color: #cf8970;
}

.text-button {
	color: #543c2c;
}

.logo {
	width: 120px;
	height: auto;
	margin-top: 5px;
	img {
		width: 100%;
	}
}

.search {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2em;
}

.itemBtn {
	margin: 0 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.loader {
	border: 5px solid #f8f2da;
	border-top: 5px solid #543c2c;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
