.form {
	text-align: left;
	width: min(80vw, 700px);
	padding: 25px;
	background-color: var(--secondaryColor);
	margin: 15px auto;
	border-radius: 15px;
}

.form button,
.search button {
	font-weight: 500;
	background-color: var(--buttonColor);
	border-radius: 15px;
	font-size: 1.8em;
	border: none;
	color: white;
	padding: 15px;
	cursor: pointer;
	margin-top: 20px;
}

.form button:disabled,
.search button:disabled {
	cursor: not-allowed;
	opacity: 0.65;
	transition: opacity 0.5s linear;
}
.form button:enabled {
	opacity: 1;
	transition: opacity 1s linear;
}

.form-control {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	.suggestions {
		z-index: 5;
		top: 100%;
		position: absolute;
		width: 100%;
		ul {
			list-style: none;
			padding: 0;
			text-align: left;
			width: 100%;
		}
		li {
			display: block;
			width: 100%;
			border-radius: 5px;
			/*removing underlines from anchor element*/
			text-decoration: none;
			cursor: pointer;
			padding: 10px;
			background-color: lightgray;
			&:hover {
				background-color: var(--buttonColor);
				color: white;
			}
		}
	}
}

.form-control label {
	font-weight: 400;
	margin-top: 15px;
	font-size: 2em;
	color: var(--buttonColor);
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
textarea,
select {
	padding: 6px 12px;
	font-size: 1.2em;
	font-weight: 400;
	border-radius: 5px;
	outline: none;
	overflow: hidden;
	resize: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input:focus {
	border: 2px solid var(--buttonColor);
}

.error {
	color: #cc0000;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.haveAccount {
	margin-top: 25px;
	text-align: center;
}

.search-container {
	.search {
		margin-bottom: 1.3em;
		display: grid;
		place-items: center;
	}
	.form-control {
		position: relative;
		width: 100%;
		input {
			padding: 15px;
			background-color: var(--secondaryColor);
			&::placeholder {
				color: var(--buttonColor);
			}
		}
		// Suggestions Components
		.suggestions {
			z-index: 5;
			top: 100%;
			position: absolute;
			width: 100%;
			ul {
				list-style: none;
				padding: 0;
				text-align: left;
				width: 100%;
			}
			li {
				display: block;
				width: 100%;
				border-radius: 5px;
				/*removing underlines from anchor element*/
				text-decoration: none;
				cursor: pointer;
				padding: 10px;
				background-color: var(--secondaryColor);
				&:hover {
					background-color: var(--buttonColor);
					color: white;
				}
			}
		}
	}
}

.image-upload {
	margin: 30px auto 10px;
	text-align: center;
	color: white;
	label input {
		display: none;
	}
	label {
		cursor: pointer;
		display: grid;
		place-items: center;
		background-color: var(--buttonColor);
		width: 50px;
		height: 50px;
		border: 1px solid var(--primaryColor);
		border-radius: 50%;
		margin: 10px auto;
		line-height: 30px;
		color: var(--primary);
		font-weight: bold;
		font-size: 24px;
	}
}

@media screen and (min-width: 960px) {
	.formContainer {
		display: flex;
	}
	.haveAccount {
		margin: auto 15px;
	}
	.search-container {
		.search {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			align-items: center;
			.form-control {
				flex: 1;
				margin-right: 1.2em;
			}
			button {
				align-self: flex-end;
			}
		}
	}
}
