:root {
	--primaryColor: #df915e;
	--secondaryColor: #f3b48b;
	--buttonColor: #543c2c;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

* {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}
// utilites
.container {
	width: min(80vw, 1200px);
	margin: 0 auto;
}
.okaz {
	font-weight: 500;
	font-size: 2.5em;
	font-family: "Ubuntu";
}
.active {
	text-decoration: none;
	border: none;
	color: inherit;
	outline: none;
}
.flex {
	display: flex;
}
// to center items in container
.center {
	display: grid;
	place-items: center;
}

// Components
.header {
	background-color: var(--primaryColor);
	height: max(5vh, 100px);
	padding: 20px;
	margin-bottom: 20px;
}
// Screens
.homePage {
	.cards {
		display: grid;
		grid-gap: 2em;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	}
}

h1,
h2,
h3 {
	color: var(--buttonColor);
}
